.foot-anomaly-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.anomaly-container {
    align-self: center;
}

.anomaly-container div {
    display: flex;
    justify-content: space-evenly;
}

.anomaly-container div p:last-child {
    font-weight: bold;
    font-size: large;
    color: red;
    text-align: center;
}

#person-dropdown {
    margin-bottom: 20px;
}

#stat-data-table {
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#linear-graph {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    margin-bottom: 10px;
}

.footer p:first-child {
    font-weight: 700;
}