#person-dropdown {
    margin-bottom: 20px;
}

.visualization-container label {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

#stat-data-table {
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#linear-graph {
    margin-bottom: 20px;
}

.foot-anomaly-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    margin-bottom: 10px;
}

.footer p:first-child {
    font-weight: 700;
}